*{
    box-sizing: border-box;
  }
  
  html, body{
    margin-left: var(--s);
    margin-right: var(--s);
    background-color: var(--color-light);
    font-family: "source-sans-3", Arial, sans-serif;
    font-size: var(--m);
    font-weight: var(--fw-regular);
  }
  
  header {
    padding: var(--l);
    background-color: var(--color-lightest);
  }
  
  footer {
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--color-dark);
  }
  
  main{
      max-width: 80rem;
      margin: 0 auto;
      background-color: var(--color-gray);
  }
  
  main > *{
      padding: var(--a);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: var(--fw-bold);
  }
  
  
  h1{
    font-size: var(--xl);
  }
  
  h2{
    font-size: var(--l);
  }
  
  h3{
    font-size: var(--m);
  }