header{
    background-color: var(--color-purple);
    border-bottom-left-radius: var(--s);
    border-bottom-right-radius: var(--s);
    margin-bottom: var(--m);
    display: flex;
    justify-content: space-between;
    
    img{
        filter: brightness(0) invert(1);
    }
}

.swipe-cards{
    display: flex;
    background-color: var(--color-green);
    border-radius: var(--s);

    .card{
        color: var(--color-white);
        display: flex;
        width: 100%;

        img{
            width: 60%;
            object-fit: cover;
            border-top-left-radius: var(--s);
            border-bottom-left-radius: var(--s);
        }

        div{
            margin: var(--s);

            h2{
                margin-bottom: var(--xs);
            }

            p{
                line-height: var(--lh-normal);
            }

            .lookup-content{
                display: flex;
                justify-content: center;
                font-weight: var(--fw-bold);
                margin-top: var(--xs);
            }
        }
    }
}

.table-head{
    display: flex;
    justify-content: space-between;
    margin-top: var(--m);
    margin-bottom: var(--s);;

    div{
        width: 30%;
        display: flex;
        justify-content: space-between;

        button{
            background-color: var(--color-beige);
            border-radius: var(--xxs);
        }
    }
}

.content-table{
    width: 100%;

    tr{
        border-top: 2px solid var(--color-black);
        justify-content: space-between;
        text-align: right;

        td{
            padding-right: var(--xss);

            ul{
                li{
                    display: inline-flex;
                    color: var(--color-white);
                    background-color: var(--color-red);
                    padding: var(--xxs);
                    margin-bottom: var(--m);
                }
            }
        }
    }
    
}

@media screen and (width <= 600px) {
    .content-table .hides{
        display: none;
    }
}

footer{
    background-color: var(--color-purple);
    border-top-left-radius: var(--s);
    border-top-right-radius: var(--s);
    margin-top: var(--m);
    margin-left: var(--s);
    margin-right: var(--s);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--s);

    ul{
        display: flex;
        justify-content: space-between;

        li{
            color: var(--color-white);
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                filter: brightness(0) invert(1);
            }
        }
    }
}

@media screen and (width >= 600px) {
    footer{
        display: none;
    }
}